.body {
  background-image: url("/background.webp");
  color: white;
}

@font-face {
  font-family: "harry-potter";
  src: url("/harryp.ttf") format("truetype");
}

.harryPotter {
  font-family: "harry-potter";
}
